@define-mixin atSmall {
    @media (min-width: 530px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 800px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 1010px) {
        @mixin-content;
    }
}

@define-mixin clearfix {
    /* this code clears floats */

    /* adds blank space after all of the content in the main row div
    creates that content where we put the old empty div, and it separates
    the sections adequately */
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}